html {
    text-align: center;
    background: #000;
    font-family: Verdana;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h1,
h2 {
    color: #fff;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

a {
    color: aquamarine;
    text-size: 16px;
}

p {
    color: gray;
    font-size: 21px
}

#copyright {
    text-align: right;
}